<nav class="bg-grey-light p-3 rounded font-sans w-full m-4">
    <ol class="list-reset flex text-grey-dark">
      <li><a href="/episodes" >Episodios</a></li>
      <li><span class="mx-2">/</span></li>
      <li><a href="javascript: history.go(-1)" >Episodio Anterior</a></li>
      <li><span class="mx-2">/</span></li>
      <li class="text-blue font-bold">Personaje</li>
    </ol>
  </nav>

<div>
    <h1 class="text-center text-green-700 text-opacity-75 text-4xl font-serif py-8">
        {{character.name}}
    </h1>
</div>

<div class = "flex flex-wrap border-2 border-green-500 justify-center mx-96 my-8 py-8 shadow-2xl content-center rounded-3xl">

    <ul>
        <li><img src="{{character.img_url}}" width="300px" height="200px" class=" mr-16 my-0" />  </li>
    </ul>
    <ul  class="mx-16 text-lg font-serif list-disc">
                <li> Status: {{character.status}}</li>
                <li> Specie: {{character.species}}</li>
                <li> Gender: {{character.gender}}</li>
                <li>Alias</li>
                <ul *ngFor="let item of character.alias"> 
                    <li class="text-sm">
                        {{item}}
                    </li>
                </ul>
                <li> Origin: {{character.origin}}</li>
                <li>Abilities</li>
                <ul *ngFor="let item of character.abilities"> 
                    <li class="text-sm">
                        {{item}}
                    </li>
                </ul>
        
    </ul>   
</div>