<div class="flex-col bg-gray-200">

    <div>
        <nav class="bg-grey-light p-3 rounded font-sans w-full m-0 p-4">
            <ol class="list-reset flex text-grey-dark">
              <li><a href="/episodes">Episodios</a></li>
              <li><span class="mx-2">/</span></li>
              <li class="text-blue font-bold">Episodio {{episode.id}}</li>
              <li><span class="mx-2">/</span></li>
            </ol>
        </nav>
    </div>
        

    <div>
        <h2 class="text-center text-green-700 text-opacity-75 text-4xl font-serif py-8">Episodio {{episode.id}}</h2>
    </div>
    <div class = "flex flex flex-row border-2 border-green-500 justify-center mx-80 my-8 py-11 shadow-2xl content-center rounded-3xl">

        <div><img src="{{episode.img_url}}" width="500px" height="200px" class=" mr-16 rounded-full"/></div>
        <div  class="m-16 text-3xl font-serif">
            <h1>
                {{episode.name}}
            </h1>
            <p> air_date: {{episode.air_date}}</p>
            <p> director: {{episode.director}}</p>
            <p> writer: {{episode.writer}}</p>
        
        </div>   
    </div>

    <div class="text-center w-screen flex-col">
        <div> <h2 class="text-center text-green-700 text-opacity-75 text-4xl font-serif py-8">Personajes</h2> </div>
        <ul class="flex flex-wrap border-2 border-green-500 justify-center">
            <li *ngFor="let item of Personajes" class="m-8 shadow-2xl content-center rounded-3xl tamanio">
            <p class="animate-pulse m-8 font-serif text-4xl italic text-blue-500">{{item.name}}</p>
            <img src="{{item.img_url}}" alt="" width="210" height="50" class=" ml-10 rounded-full">
              
            <div class="border-2 transition duration-300 ease-in-out transform hover:scale-110 motion-reduce:transform-none rounded-full py-2 px-8 mx-20 mt-10 bg-green-500 text-white">
                <a  routerLink="/characters/{{item.id}}"> 
                    Ver Mas
                </a>
            </div>
              
            </li>
        </ul>
    </div>

</div>